[submodule "src/main/java/uk/ac/ebi/tsc/portal/api/encryptdecrypt/security/ebi_project_settings"]
	path = src/main/java/uk/ac/ebi/tsc/portal/api/encryptdecrypt/security/ebi_project_settings
	url = https://github.com/embl-ebi-sdo/ebi_project_settings.git
